<h1><%= @list.name %></h1>
<h4>This list has <%= @list.movies.count %> movies</h4>
<h2>Movies</h2>
<% @list.movies.each do |movie| %>
  <div>
    <%= movie.title %>
    <%= link_to "Delete", bookmark_path, method: :delete, data: { confirm: "Are you sure?" } %>
    <p><%= movie.comment %></p>
  </div>
<% end %>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
